<% unless @randoris.blank? -%>
  <% @randoris.each do |randori| -%>
    <div class="randori">
      <h2><%=h randori.title %></h2>
      <p>
        <%= randori.description %>
      </p>
      <span id="edit">
        <%= link_to 'Alterar', edit_randori_path(randori), :id => "edit_#{randori.id}" %>
      </span> | 
      <span id="delete">
        <%= link_to 'Remover', randori, :confirm => 'Are you sure?', :method => :delete, :id => "delete_#{randori.id}" %>
      </span>
    </div>
  <% end -%>
<% else -%>
  No suggested randoris.
<% end -%>

<p>
  <%= link_to 'New', new_randori_path %>
</p>
