<h1>Tatame</h1>

<div id="next">
	<% if @dojo != nil %>
		<span id="date"><%=h @dojo.date %></span>
		<span id="time"><%=h show_time(@dojo.time) %></span>
		<span id="comment"><%=h @dojo.comment %></span>
		<ul>
		</ul>
	<% else %>
		No scheduled dojos
	<% end %>
</div>

<div id="schedule">
	<ol>
		<% for dojo in @dojos %>
				<li><%=h dojo.date %> - <%=h show_time(dojo.time) %></li>
		<% end %>
	</ol>
</div>

<%= link_to 'New', new_dojo_path %>