<div id="next">
	<% unless @dojo.nil? %>
	  <h2>Próximo Dojo: </h2>
		<span class="date"><%=h show_date(@dojo.date) %></span>
		<p class="comment"><%=h @dojo.comment %></p>
		<span class="delete"><%= link_to 'delete', @dojo, :confirm => 'Are you sure?', :method => :delete, :id => "delete_next" %></span>
		
		<% content_for :presence_list do %>
			<ul>
				<% for participant in @dojo.participants %>
					<li>
						<span id="name"><%=h participant.name %></span>
						<span id="remove">
						  <%= link_to 'remove', dojo_participant_path(@dojo,participant), :confirm => 'Are you sure?', 
						              :method => :delete, :id => "remove_#{participant.name}" %>
						</span>
					</li>
				<% end %>
			</ul>
		<% end %>		
	<% else %>
		No scheduled dojos
	<% end %>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="confirmation">
  <% form_for @participant, :url => dojo_participants_path(@dojo) do |f| %>
    <h2>Confirme sua presen&ccedil;a</h2>
    <span class="field">
    	<%= f.text_field :name, :class => 'nome' %>
  	</span>
  	<%= image_submit_tag 'botao-ok.png', :class => 'botao' %>
  <% end %>
</div>

<div id="schedule">
	<ol>
		<% i = 1 %>
		<% for dojo in @dojos %>
				<li>
					<span id="date"><%=h show_date(dojo.date) %></span>
					<span id="delete"><%= link_to 'delete', dojo, :confirm => 'Are you sure?', :method => :delete, :id => "delete_#{i.ordinalize}" %></span>
				</li>
				<% i = i + 1 %>
		<% end %>
	</ol>
</div>

<%= link_to 'New', new_dojo_path %>
