<h1>Tatame</h1>

<div id="next">
	<% if @dojo != nil %>
		<span id="date"><%=h show_date(@dojo.date) %></span>
		<span id="comment"><%=h @dojo.comment %></span>
		<span id="delete"><%= link_to 'delete', @dojo, :confirm => 'Are you sure?', :method => :delete %></span>
		<ul>
		</ul>
	<% else %>
		No scheduled dojos
	<% end %>
</div>

<div id="schedule">
	<ol>
		<% for dojo in @dojos %>
				<li><%=h show_date(dojo.date) %></li>
		<% end %>
	</ol>
</div>

<%= link_to 'New', new_dojo_path %>