<% if flash[:notice] -%>
  <div class="notice"><%= flash[:notice] %></div>
<% end -%>

<div id="next">
	<% unless @dojo.nil? -%>
	  <h2>Próximo Dojo: </h2>
		<span class="date"><%=h show_date(@dojo.date) %></span>
		<p class="comment">
		  <%=h @dojo.comment %>
		  <% if current_user %>
		  	<%= link_to image_tag('cross.png'), @dojo, :confirm => 'Are you sure?', 
		              :method => :delete, :id => "delete_next" %>
		  <% end %>
		</p>
		
		<% content_for :presence_list do -%>
			<div id="presence">
			<ul>
				<% @dojo.participants.each do |participant| -%>
					<li>
						<span class="name"><%=h participant.name %></span>
						<%= link_to image_tag('cross.png'), dojo_participant_path(@dojo,participant), 
						            :confirm => 'Are you sure?', :method => :delete, 
						            :id => "remove_#{participant.name}" %>
					</li>
				<% end -%>
			</ul>
			</div>
		<% end -%>		
	<% else -%>
		No scheduled dojos
	<% end -%>
</div>

<% content_for :schedule do -%>
  <div id="schedule">
  	<ol>
  		<% i = 1 -%>
  		<% for dojo in @dojos -%>
        <li id="dojo_<%= dojo.id %>">
  					<span class="date"><%=h show_date(dojo.date) %></span>
  					<% if current_user %>
  						<span class="delete"><%= link_to image_tag('cross.png'), dojo, :confirm => 'Are you sure?', :method => :delete, :id => "delete_#{i.ordinalize}" %></span>
  					<% end %>
  				</li>
  				<% i = i + 1 %>
  		<% end -%>
  	</ol>
  </div>
<% end -%>

<div class="confirmation">
  <% form_for @participant, :url => dojo_participants_path(@dojo) do |f| %>
    <h2>Confirme sua presen&ccedil;a</h2>
    <span class="field">
    	<%= f.text_field :name, :class => 'name' %>
  	</span>
  	<%= image_submit_tag 'botao-ok.png', :id => "add_participant" , :class => 'button' %>
  <% end %>
</div>

<% content_for :pastdojos do -%>
  <div id="past_dojos">
  	<ol>
  		<% i = 1 -%>
      <% for dojo in @pastdojos -%>
        <li id="dojo_<%= dojo.id %>">
            <span class="date"><%=h show_date(dojo.date) %></span>
            <% if dojo.retrospective.blank? %>
              <% if current_user %>
                <span class="add"><%= link_to "Add Retrospective", edit_dojo_retrospective_path(dojo), :id => "add_retrospective_#{i.ordinalize}" %></span>
              <% end %>
            <% else %>
              <div class="retrospective">
                <span class="retrospective-title"><%=h dojo.retrospective.dojo_title %></span>
              </div>
              <% if current_user %>
                <span class="edit"><%= link_to "Edit Retrospective", edit_dojo_retrospective_path(dojo), :id => "edit_retrospective_#{i.ordinalize}" %></span>
              <% end %>
            <% end %>
            <% if current_user %>
              <span class="delete"><%= link_to image_tag('cross.png'), dojo, :confirm => 'Are you sure?', :method => :delete, :id => "delete_past_#{i.ordinalize}" %></span>
            <% end %>
  				</li>
  				<% i = i + 1 %>
  		<% end -%>
  	</ol>
  </div>
<% end -%>

<% if current_user %> 
	<%= link_to 'New', new_dojo_path %>
<% end %>
<%= link_to 'Register', new_user_path %>

<script type="text/javascript" charset="utf-8">
  $('participant_name').observe('focus', function(event) {
    var element = Event.element(event);
    if(element.getValue() == 'Nome' || element.getValue().blank()) {
      element.value = ''
      element.addClassName('active');
    }
  });
  
  $('participant_name').observe('blur', function(event) {
    var element = Event.element(event);
    // alert(element.getValue() + ": " + element.getValue().empty());
    // alert(element.getValue() == 'Nome' || element.getValue().empty())
    if(element.getValue().blank()) {
      element.removeClassName('active');
      element.value = 'Nome'
    }
  });
</script>
