<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Coding Dojo Caelum</title>
	<%= stylesheet_link_tag 'reset-fonts-grids', :media => 'all' %>
	<%= stylesheet_link_tag 'dojo' %>
	<%= javascript_include_tag :all %>
</head>

<body>
<div id="doc">
  <div id="hd">
    <h1>Coding Dojo Caelum</h1>
    <% if current_user %>
      <span id="login-message">Welcome, <%=h current_user.email %></span>
    <% else %>
      <div id="login-form">
        <% form_tag user_session_url, :method => :post do -%>
          <%= label_tag 'user_session_email', 'Email' %>
          <%= text_field_tag 'user_session[email]', nil, :id => 'user_session_email' %>
          <%= label_tag 'user_session_password', 'Password' %>
          <%= password_field_tag 'user_session[password]', nil, :id => 'user_session_password' %>
          <%= submit_tag "Login" %>
        <% end -%>
      </div>
    <% end %>
  </div>
  <div id="menu">
    <ul>
      <li><%= link_to 'Katas', nil %></li>
      <li><%= link_to 'Randoris', randoris_path %></li>
      <li><%= link_to 'Dojos', dojos_path %></li>
    </ul>
  </div>
  <div id="bd">
    <div class="yui-gd">
      <div class="yui-u first presence-list">
        <h2>Confirmados</h2>
        <%= yield :presence_list %>
        <h2 class="next">Pr&oacute;ximas Datas</h2>
        <%= yield :schedule %>
      </div>
      <div class="yui-u">
        <%= yield %>
      </div>
      <div class="yui-u past dojos">
        <%= yield :pastdojos %>
      </div>      
    </div>
  </div>
  <div id="ft">
    Copyleft Caelum
  </div>
</div>
</body>
</html>
